In [9]:
### Python basic modules ###
import os
import getpass

### EDA modules ###
import numpy as np
import pandas as pd

### For my sql connection ###
from sqlalchemy import create_engine
import pymysql

In [10]:
### Stablish connection ###
password = getpass.getpass()
connection_string='mysql+pymysql://root:'+password+'@localhost:3306/bank'
engine= create_engine(connection_string)

········

In [13]:
statement = "SELECT * FROM LOAN limit 3;"
pd.DataFrame(engine.execute(statement))

      0     1       2       3   4       5  6
0  5314  1787  930705   96396  12  8033.0  B
1  5316  1801  930711  165960  36  4610.0  A
2  6863  9188  930728  127080  60  2118.0  A

[('loan_id', 'int', 'YES', '', None, ''),
 ('account_id', 'int', 'YES', '', None, ''),
 ('date', 'int', 'YES', '', None, ''),
 ('amount', 'int', 'YES', '', None, ''),
 ('duration', 'int', 'YES', '', None, ''),
 ('payments', 'float', 'YES', '', None, ''),
 ('status', 'text', 'YES', '', None, '')]