In [1]:
import numpy as np
import pandas as pd

In [57]:
ls ../../data_files/csv_files/

learningSet.csv                  marketing_customer_analysis.csv*
learningSet2.csv

In [10]:
path = '../../data_files/csv_files/'
data = pd.read_csv(path + 'learningSet.csv')

/Users/sebastianvier/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
data.head()

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A

In [17]:
percentage_null = data.isna().sum() / len(data)
percentage_null[percentage_null > .25]

In [43]:
drop_list = []

In [44]:
new_list = ['OSOURCE', 'ZIP']
for name in new_list:
    if name not in drop_list:
        drop_list.append(name)

In [45]:
new_list = list((percentage_null[percentage_null > .85]).index)
for name in new_list:
    if name not in drop_list:
        drop_list.append(name)

In [46]:
print(drop_list)

['OSOURCE', 'ZIP', 'NUMCHLD', 'RDATE_3', 'RDATE_4', 'RDATE_5', 'RDATE_6', 'RDATE_7', 'RDATE_10', 'RDATE_13', 'RDATE_15', 'RDATE_17', 'RDATE_20', 'RDATE_21', 'RDATE_23', 'RAMNT_3', 'RAMNT_4', 'RAMNT_5', 'RAMNT_6', 'RAMNT_7', 'RAMNT_10', 'RAMNT_13', 'RAMNT_15', 'RAMNT_17', 'RAMNT_20', 'RAMNT_21', 'RAMNT_23']

In [47]:
data.drop(drop_list,axis=1, inplace=True, errors='ignore')

In [48]:
data.GENDER

0        F
1        M
2        M
3        F
4        F
        ..
95407    M
95408    M
95409    M
95410    F
95411    F
Name: GENDER, Length: 95412, dtype: object

In [51]:
def gender_map(x):
    if x == ' ':
        return 'f'
    elif x not in ['F', 'M']:
        return 'other'
    else:
        return x.lower()

In [54]:
data['GENDER'] = data.GENDER.map(gender_map)

In [56]:
data.to_csv(path + 'learningSet2.csv', index=False)