In [21]:
import numpy as np
import math
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols
from scipy import stats

## Part 1

In this activity, we will look at another example. Your task is to understand the problem and write down all the steps to set up ANOVA. After the next lesson, we will ask you to solve this problem using Python. Here are the steps that you would need to work on:
    - Null hypothesis
    - Alternate hypothesis
    - Level of significance
    - Test statistic
    - P-value
    - F table

### Context

Suppose you are working as an analyst in a microprocessor chip manufacturing plant. You have been given the task of analyzing a plasma etching process with respect to changing Power (in Watts) of the plasma beam. Data was collected and provided to you to conduct statistical analysis and check if changing the power of the plasma beam has any effect on the etching rate by the machine. You will conduct ANOVA and check if there is any difference in the mean etching rate for different levels of power. You can find the data `anova_lab_data.xlsx` file in the `files_for_lab` folder  

- State the null hypothesis
- State the alternate hypothesis
- What is the significance level
- What are the degrees of freedom of model, error terms, and total DoF

Data was collected randomly and provided to you in the table as shown: [link to the image - Data](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.05/7.05-lab_data.png)

In [3]:
! ls files_for_lab/

anova_lab_data.xlsx lab_data.png

In [4]:
data = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
data.columns = [i.strip().replace(' ', '_').lower() for i in data.columns]

In [5]:
data

    power  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

**Null hypothesis** = 'There is no difference between the different powers'
<br>**Alternative hypothesis** = 'There is a different between the different powers'
<br> **Significance error** = 0.05

In [6]:
dof = len(data.power) - data.power.nunique()
print(f'dof: {dof}')

dof: 12

## Part 2

- In this section, use Python to conduct ANOVA.
- What conclusions can you draw from the experiment and why?

In [18]:
data.power.unique()

array(['160 W', '180 W', '200 W'], dtype=object)

In [19]:
w_160 = data[data.power == '160 W'].etching_rate.reset_index(drop=True)
w_180 = data[data.power == '180 W'].etching_rate.reset_index(drop=True)
w_200 = data[data.power == '200 W'].etching_rate.reset_index(drop=True)

In [20]:
print(w_160)
print(w_180)
print(w_200)

0    5.43
1    5.71
2    6.22
3    6.01
4    5.59
Name: etching_rate, dtype: float64
0    6.24
1    6.71
2    5.98
3    5.66
4    6.60
Name: etching_rate, dtype: float64
0    8.79
1    9.20
2    7.90
3    8.15
4    7.55
Name: etching_rate, dtype: float64

In [22]:
fvalue, pvalue = stats.f_oneway(w_160, w_180, w_200)

In [23]:
print(f'f statistic : {fvalue}')
print(f'p value: {pvalue}')

f value: 36.87895470100505
p value: 7.506584272358903e-06

In [25]:
data.columns = ['power', 'values']

In [31]:
model = ols('values ~ C(power)', data=data).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

             sum_sq    df          F    PR(>F)
C(power)  18.176653   2.0  36.878955  0.000008
Residual   2.957240  12.0        NaN       NaN