In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://www.billboard.com/charts/billboard-global-200/"
response = requests.get(url)
response.status_code # 200 status code means OK!

200

In [3]:
soup = BeautifulSoup(response.content, "html.parser")

In [7]:
chart = soup.find('div', {"class":"chart-results // lrv-a-wrapper lrv-u-padding-lr-00@mobile-max"})

In [39]:
position = 1
name = entries[0].find('h3').get_text().strip()
author = entry.find('span').get_text().strip()
last_week = int(entry.find_all('span')[1].get_text().strip())
peek_poss = int(entry.find_all('span')[2].get_text().strip())
weeks = int(entry.find_all('span')[3].get_text().strip())

In [40]:
print([position,name,author,last_week,peek_poss,weeks])

[1, 'As It Was', 'Harry Styles', 1, 1, 2]

In [57]:
entries = chart.find_all('ul', {"class":"lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max"})


position = []
name = []
author = []
last_week = []
peek_poss = []
weeks = []


num_iter = len(entries)
i = 0

for entry in entries:
    position.append(i + 1)
    name.append(entry.find('h3').get_text().strip())
    spans = entry.find_all('span')
    author.append(spans[0].get_text().strip())
    last_week.append(spans[1].get_text().strip())
    peek_poss.append(spans[2].get_text().strip())
    weeks.append(spans[3].get_text().strip())
    
    i += 1

songs = pd.DataFrame({"position":position,
                       "name" : name,
                      "author" : author,
                      "last_week" : last_week,
                      "peek_poss" : peek_poss,
                      "weeks" : weeks,
                      })

In [58]:
songs

,position,name,author,last_week,peek_poss,weeks
0,1,As It Was,Harry Styles,1,1,2
1,2,First Class,Jack Harlow,-,2,1
2,3,Heat Waves,Glass Animals,2,1,67
3,4,Stay,The Kid LAROI & Justin Bieber,3,1,40
4,5,Enemy,Imagine Dragons X JID,4,3,24
...,...,...,...,...,...,...
195,196,Sacrifice,The Weeknd,163,2,14
196,197,Down Under,Luude Featuring Colin Hay,-,105,11
197,198,Every Breath You Take,The Police,192,179,9
198,199,Cheap Thrills,Sia Featuring Sean Paul,-,170,10
199,200,Mujeriego,Ryan Castro,190,125,11

In [59]:
songs.to_csv('songs.csv', index=False)